language: ruby
sudo: false
cache: bundler

rvm:
  - 2.4.9
  - 2.5.7
  - 2.6.5

gemfile:
  - gemfiles/rails_4.1.gemfile
  - gemfiles/rails_4.2.gemfile
  - gemfiles/rails_5.0.gemfile
  - gemfiles/rails_5.1.gemfile
  - gemfiles/rails_5.2.gemfile

before_install:
  - gem update --system --no-doc
  - gem install bundler -v "1.17.3"

notifications:
  email: false
